:root {
  --accent: #cb7f2f;
  --light: #ffffff;
  --lightText: #97a0be;
  --dark: #375356;
  --overlayStart: rgba(55, 84, 86, 0.9);
  --navBar: rgb(55, 84, 86);
  --overlayEnd: rgba(55, 84, 86, 0.7);
  --ease: all 0.3s ease 0s;
}

.about {
  margin-top: 8vh;
  background-color: white;
  padding: 2rem;
  font-size: 3rem;
}
.about h1 {
  color: var(--accent);
  font-weight: bold;
}
.text-block {
  overflow: hidden;
  height: 4rem;
}
.text-wrapper {
  animation: move 8s ease-in-out infinite alternate;
  height: 100%;
  text-transform: uppercase;
}
.about p,
.about img {
  padding: 4rem !important;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}
@media only screen and (max-width: 1186px) {
  .clearfix img {
    width: 85%;
  }
}
