@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Work+Sans:300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");

:root {
  --accent: #cb7f2f;
  --accent2: #9b7247;
  --light: #ffffff;
  --lightText: #97a0be;
  --dark: #375356;
  --overlayStart: rgba(55, 84, 86, 0.9);
  --navBar: rgb(55, 84, 86);
  --overlayEnd: rgba(55, 84, 86, 0.7);
  --ease: all 0.3s ease 0s;
}
.resumePage {
  font-family: Georgia;
  padding: 2rem;
  margin: 2rem;
  font-size: small;
}

.first-name {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  line-height: 0.75;
  margin: 1rem 0;
}
.last-name {
  color: rgb(237, 96, 71);
}
.title-h2 {
  font-family: "Estonia", cursive;
  color: var(--navBar);
  font-size: 2.5rem;
}
.profile-h2-wrapper h2,
.h2-wrapper,
.education h2,
.jobs h2 {
  color: var(--navBar);
}
#bd h4,
#bd h3 {
  color: rgb(237, 96, 71);
  font-family: "Estonia", cursive;
  text-transform: uppercase;
  font-size: 175%;
  font-weight: bold;
}
.technical-wrapper {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 0.75;
  margin: 1rem 0;
}

#inner {
  padding: 8rem;
  margin: 2rem;
  background-image: url("../../images/polygonpage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid #666;
  border-width: 0.8rem 0 0.2rem 0;
  font-family: "Open Sans", sans-serif;
}
.resume-wrapper {
  margin-bottom: 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid #ccc;
}

#hd {
  margin: 2.5em 0 3em 0;
  padding-bottom: 2.5em;
  border-bottom: 1px solid #ccc;
}
#hd h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
#bd,
#ft {
  margin-bottom: 2em;
}
#ft {
  padding: 1em 0 5em 0;
  font-size: 92%;
  border-top: 0.1rem solid #ccc;
  text-align: center;
}
#ft p {
  margin-bottom: 0;
  text-align: center;
}

#hd h1 {
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
h2 {
  font-size: 152%;
}
h3,
h4 {
  font-size: 122%;
}

.resumePage p {
  font-size: 1.5rem;
  padding-right: 3em;
}
.resumePage a {
  color: rgb(237, 96, 71);
}
a:hover {
  text-decoration: none;
  color: var(--lightText);
}
strong {
  font-weight: bold;
}
.skills li {
  line-height: 2.4rem;
  font-size: 1.5rem;
}
p.enlarge {
  font-size: 1.5rem;
  padding-right: 6.5em;
  line-height: 24px;
}
p.enlarge span {
  color: #000;
}
.contact-info {
  margin-top: 7px;
}

.last {
  border-bottom: 0;
}
a#pdf {
  display: block;
  text-align: center;
  background: rgb(237, 96, 71);
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
}

.job {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #ccc;
}
.job h4 {
  position: absolute;
  top: 0.5rem;
  right: 0;
}
.job p {
  margin: 1rem 0 3rem 0;
}

.last {
  border: none;
}
.skills-list ul {
  margin: 0;
}
.skills-list li {
  margin: 0.3rem 0;
  padding: 0.3rem 0;
}
.skills-list li span {
  font-size: 1.5rem;
  display: block;
  margin-bottom: -0.2rem;
  padding: 0;
}

.skills {
  width: 32%;
  float: left;
}
.skills h2 {
  margin-bottom: 0.6rem;
}

#srt-ttab {
  margin-bottom: 10rem;
  text-align: center;
}
#srt-ttab img.last {
  margin-top: 2rem;
}

.resume-wrapper .resume-section {
  width: 80%;
}
.resume-wrapper div.first {
  width: 20%;
}

.education-section {
  font-size: 1.5rem;
  color: var(--lightText);
}
.skills-color {
  color: rgb(237, 96, 71);
  font-family: "Estonia", cursive;
  text-transform: uppercase;
  font-size: 200%;
}

.resume-i,
.education-h2 h4 {
  color: rgb(237, 96, 71);
}
.education-h2,
.education-h2 h4 {
  font-size: 1.5rem;
}
.education-h2 span {
  color: var(--lightText);
}
.education-city {
  font-size: 2rem !important;
  text-align: end;
}
#portfolio .container-fluid,
#portfolio .container-sm,
#portfolio .container-md,
#portfolio .container-lg,
#portfolio .container-xl,
#portfolio .container-xxl {
  max-width: 172rem;
}
#portfolio .container-fluid .portfolio-box,
#portfolio .container-sm .portfolio-box,
#portfolio .container-md .portfolio-box,
#portfolio .container-lg .portfolio-box,
#portfolio .container-xl .portfolio-box,
#portfolio .container-xxl .portfolio-box {
  position: relative;
  display: block;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption,
#portfolio .container-sm .portfolio-box .portfolio-box-caption,
#portfolio .container-md .portfolio-box .portfolio-box-caption,
#portfolio .container-lg .portfolio-box .portfolio-box-caption,
#portfolio .container-xl .portfolio-box .portfolio-box-caption,
#portfolio .container-xxl .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgb(237, 96, 71);
  transition: opacity 0.25s ease;
  text-align: center;
}
#portfolio
  .container-fluid
  .portfolio-box
  .portfolio-box-caption
  .project-category,
#portfolio
  .container-sm
  .portfolio-box
  .portfolio-box-caption
  .project-category,
#portfolio
  .container-md
  .portfolio-box
  .portfolio-box-caption
  .project-category,
#portfolio
  .container-lg
  .portfolio-box
  .portfolio-box-caption
  .project-category,
#portfolio
  .container-xl
  .portfolio-box
  .portfolio-box-caption
  .project-category,
#portfolio
  .container-xxl
  .portfolio-box
  .portfolio-box-caption
  .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-md .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
  font-size: 2rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-sm .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-md .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-lg .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-xl .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
@media only screen and (max-width: 992px) {
  .resumePage {
    margin-top: 12vh;
  }
}
@media only screen and (max-width: 836px) {
  .resume-wrapper .resume-section {
    width: 100%;
  }
  .resume-wrapper div.first {
    width: 100%;
  }
}
@media only screen and (max-width: 743px) {
  .skills {
    width: 95vh;
    text-align: justify;
    margin: 1rem;
    padding: 2rem;
  }

  #inner {
    margin: 0rem;
    padding: 1rem;
    width: 95vh;
    margin: 1rem;
    padding: 2rem;
  }
}
