.portfolioPage {
  margin-top: 8vh;
  background-color: white;
  background-image: url("../../images/projectbackground.jpg");
  background-position: right;
  background-repeat: repeat;
  background-size: cover;
}
.portfolio-h2 {
  font-size: 2rem;
}